body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
   /* font-family: 'Arial', sans-serif;*/
    font-family: 'Montserrat', sans-serif; /* Apply Montserrat font to the entire body */
    
    background-color: #111111;
    
  }
  p {
    color: black; /* Change text color to black */
}

/* Example targeting headings */
h1, h2, h3, p {
    color: rgb(255, 255, 255); /* Change text color to blue */
    font-size: 2rem;
}
p
{color: rgb(255, 255, 255); /* Change text color to blue */
  font-size: 1.5rem;

}
  
  .container {
    max-width: 80%;
    margin: auto;
  }
  
  header {
    background: #333;
    opacity: 50%;
    color: #fff;
    padding: 10px 0;
    position: sticky;
    top: 0;
     
    z-index: 1000;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
  }
  
  section {
    padding: 20px;
  }
  
  
  .service-box {
    transform: skewY(-3deg);
    padding: 20px;
    margin: 10px 0;
    color: #fff;
  }
  
  .portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
  }
  
  form input, form textarea, form button {
    margin: 10px 0;
    padding: 10px;
  }
  
  form button {
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  .service-box {
    background: #ffcc00;
    border-radius: 20px 2px 20px 2px;
  }
    .special-section {
      position: relative;
      padding: 100px 20px;
      background-color: #ffcc00;
      overflow: hidden;
      border-radius: 20px 2px 20px 2px;
     
      


  }
    .special-section .content {
      position: relative;
      z-index: 2;
      text-align: left;
      
     
  }
  .special-section .content h2 {
    display: inline-block; /* or inline-block */
  }
  .special-section .content p {
  display: inline; /* or inline-block */
  }
  
  .special-section .background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color:#ffcc00;
      /*background-color: #007bff;*/
      z-index: 1;
      transition: opacity 0.5s ease;
  
     
      
  }
  
  .special-section .video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 0;
      opacity: 0;
      transition: opacity 0.5s ease;


  }
  
  footer {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 20px 0;
  }
  
@media (max-width: 768px) {
    .container {
      max-width: 95%;
    }




  }
  